--
-- PostgreSQL database dump
--

\restrict NUPKK6oCTnnjdBh7A3SZ0wjTeRKn2f6an3rKU3eO2lVKFRUhhbbYaSEbyk7Kqwa

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP POLICY IF EXISTS profiles_update_own_or_admin ON public.profiles;
DROP POLICY IF EXISTS profiles_select_own_or_admin ON public.profiles;
DROP POLICY IF EXISTS modules_update ON public.course_modules;
DROP POLICY IF EXISTS modules_read ON public.course_modules;
DROP POLICY IF EXISTS modules_insert ON public.course_modules;
DROP POLICY IF EXISTS modules_delete ON public.course_modules;
DROP POLICY IF EXISTS lessons_update ON public.course_lessons;
DROP POLICY IF EXISTS lessons_read ON public.course_lessons;
DROP POLICY IF EXISTS lessons_insert ON public.course_lessons;
DROP POLICY IF EXISTS lessons_delete ON public.course_lessons;
DROP POLICY IF EXISTS instructor_update_own_or_admin ON public.instructor_profiles;
DROP POLICY IF EXISTS instructor_select_own_or_admin ON public.instructor_profiles;
DROP POLICY IF EXISTS instructor_insert_own ON public.instructor_profiles;
DROP POLICY IF EXISTS externo_update_own_or_admin ON public.externo_profiles;
DROP POLICY IF EXISTS externo_select_own_or_admin ON public.externo_profiles;
DROP POLICY IF EXISTS externo_insert_own ON public.externo_profiles;
DROP POLICY IF EXISTS expositor_update_own_or_admin ON public.expositor_profiles;
DROP POLICY IF EXISTS expositor_select_own_or_admin ON public.expositor_profiles;
DROP POLICY IF EXISTS expositor_insert_own ON public.expositor_profiles;
DROP POLICY IF EXISTS enrollments_read ON public.course_enrollments;
DROP POLICY IF EXISTS enrollments_insert ON public.course_enrollments;
DROP POLICY IF EXISTS enrollments_delete ON public.course_enrollments;
DROP POLICY IF EXISTS courses_update ON public.courses;
DROP POLICY IF EXISTS courses_read ON public.courses;
DROP POLICY IF EXISTS courses_insert ON public.courses;
DROP POLICY IF EXISTS approvals_read ON public.creator_approvals;
DROP POLICY IF EXISTS alumno_update_own_or_admin ON public.alumno_profiles;
DROP POLICY IF EXISTS alumno_select_own_or_admin ON public.alumno_profiles;
DROP POLICY IF EXISTS alumno_insert_own ON public.alumno_profiles;
ALTER TABLE IF EXISTS ONLY public.profiles DROP CONSTRAINT IF EXISTS profiles_id_fkey;
ALTER TABLE IF EXISTS ONLY public.instructor_profiles DROP CONSTRAINT IF EXISTS instructor_profiles_profile_id_fkey;
ALTER TABLE IF EXISTS ONLY public.externo_profiles DROP CONSTRAINT IF EXISTS externo_profiles_profile_id_fkey;
ALTER TABLE IF EXISTS ONLY public.expositor_profiles DROP CONSTRAINT IF EXISTS expositor_profiles_profile_id_fkey;
ALTER TABLE IF EXISTS ONLY public.creator_approvals DROP CONSTRAINT IF EXISTS creator_approvals_profile_id_fkey;
ALTER TABLE IF EXISTS ONLY public.creator_approvals DROP CONSTRAINT IF EXISTS creator_approvals_approved_by_fkey;
ALTER TABLE IF EXISTS ONLY public.courses DROP CONSTRAINT IF EXISTS courses_reviewed_by_fkey;
ALTER TABLE IF EXISTS ONLY public.courses DROP CONSTRAINT IF EXISTS courses_creator_id_fkey;
ALTER TABLE IF EXISTS ONLY public.course_modules DROP CONSTRAINT IF EXISTS course_modules_course_id_fkey;
ALTER TABLE IF EXISTS ONLY public.course_lessons DROP CONSTRAINT IF EXISTS course_lessons_module_id_fkey;
ALTER TABLE IF EXISTS ONLY public.course_enrollments DROP CONSTRAINT IF EXISTS course_enrollments_student_id_fkey;
ALTER TABLE IF EXISTS ONLY public.course_enrollments DROP CONSTRAINT IF EXISTS course_enrollments_course_id_fkey;
ALTER TABLE IF EXISTS ONLY public.alumno_profiles DROP CONSTRAINT IF EXISTS alumno_profiles_profile_id_fkey;
DROP TRIGGER IF EXISTS trg_profiles_updated_at ON public.profiles;
DROP TRIGGER IF EXISTS trg_prevent_role_self_change ON public.profiles;
DROP TRIGGER IF EXISTS trg_modules_updated_at ON public.course_modules;
DROP TRIGGER IF EXISTS trg_lessons_updated_at ON public.course_lessons;
DROP TRIGGER IF EXISTS trg_instructor_updated_at ON public.instructor_profiles;
DROP TRIGGER IF EXISTS trg_instructor_mark_onboarded ON public.instructor_profiles;
DROP TRIGGER IF EXISTS trg_guard_modules ON public.course_modules;
DROP TRIGGER IF EXISTS trg_guard_lessons ON public.course_lessons;
DROP TRIGGER IF EXISTS trg_guard_enrollment ON public.course_enrollments;
DROP TRIGGER IF EXISTS trg_guard_course ON public.courses;
DROP TRIGGER IF EXISTS trg_externo_updated_at ON public.externo_profiles;
DROP TRIGGER IF EXISTS trg_externo_public_code ON public.externo_profiles;
DROP TRIGGER IF EXISTS trg_externo_mark_onboarded ON public.externo_profiles;
DROP TRIGGER IF EXISTS trg_expositor_updated_at ON public.expositor_profiles;
DROP TRIGGER IF EXISTS trg_expositor_public_code ON public.expositor_profiles;
DROP TRIGGER IF EXISTS trg_expositor_mark_onboarded ON public.expositor_profiles;
DROP TRIGGER IF EXISTS trg_courses_updated_at ON public.courses;
DROP TRIGGER IF EXISTS trg_alumno_updated_at ON public.alumno_profiles;
DROP TRIGGER IF EXISTS trg_alumno_mark_onboarded ON public.alumno_profiles;
DROP INDEX IF EXISTS public.uq_instructor_control_number;
DROP INDEX IF EXISTS public.uq_alumno_control_number;
DROP INDEX IF EXISTS public.idx_profiles_role;
DROP INDEX IF EXISTS public.idx_modules_course;
DROP INDEX IF EXISTS public.idx_lessons_module;
DROP INDEX IF EXISTS public.idx_enrollments_student;
DROP INDEX IF EXISTS public.idx_courses_status;
DROP INDEX IF EXISTS public.idx_courses_creator;
ALTER TABLE IF EXISTS ONLY public.profiles DROP CONSTRAINT IF EXISTS profiles_pkey;
ALTER TABLE IF EXISTS ONLY public.instructor_profiles DROP CONSTRAINT IF EXISTS instructor_profiles_pkey;
ALTER TABLE IF EXISTS ONLY public.externo_profiles DROP CONSTRAINT IF EXISTS externo_profiles_public_code_key;
ALTER TABLE IF EXISTS ONLY public.externo_profiles DROP CONSTRAINT IF EXISTS externo_profiles_pkey;
ALTER TABLE IF EXISTS ONLY public.expositor_profiles DROP CONSTRAINT IF EXISTS expositor_profiles_public_code_key;
ALTER TABLE IF EXISTS ONLY public.expositor_profiles DROP CONSTRAINT IF EXISTS expositor_profiles_pkey;
ALTER TABLE IF EXISTS ONLY public.creator_approvals DROP CONSTRAINT IF EXISTS creator_approvals_pkey;
ALTER TABLE IF EXISTS ONLY public.courses DROP CONSTRAINT IF EXISTS courses_slug_key;
ALTER TABLE IF EXISTS ONLY public.courses DROP CONSTRAINT IF EXISTS courses_pkey;
ALTER TABLE IF EXISTS ONLY public.course_modules DROP CONSTRAINT IF EXISTS course_modules_pkey;
ALTER TABLE IF EXISTS ONLY public.course_modules DROP CONSTRAINT IF EXISTS course_modules_course_id_position_key;
ALTER TABLE IF EXISTS ONLY public.course_lessons DROP CONSTRAINT IF EXISTS course_lessons_pkey;
ALTER TABLE IF EXISTS ONLY public.course_lessons DROP CONSTRAINT IF EXISTS course_lessons_module_id_position_key;
ALTER TABLE IF EXISTS ONLY public.course_enrollments DROP CONSTRAINT IF EXISTS course_enrollments_pkey;
ALTER TABLE IF EXISTS ONLY public.alumno_profiles DROP CONSTRAINT IF EXISTS alumno_profiles_pkey;
DROP VIEW IF EXISTS public.people_directory;
DROP TABLE IF EXISTS public.profiles;
DROP TABLE IF EXISTS public.instructor_profiles;
DROP TABLE IF EXISTS public.externo_profiles;
DROP TABLE IF EXISTS public.expositor_profiles;
DROP TABLE IF EXISTS public.creator_approvals;
DROP TABLE IF EXISTS public.courses;
DROP TABLE IF EXISTS public.course_modules;
DROP TABLE IF EXISTS public.course_lessons;
DROP TABLE IF EXISTS public.course_enrollments;
DROP TABLE IF EXISTS public.alumno_profiles;
DROP FUNCTION IF EXISTS public.trg_set_externo_public_code();
DROP FUNCTION IF EXISTS public.trg_set_expositor_public_code();
DROP FUNCTION IF EXISTS public.submit_course_review(p_course_id uuid);
DROP FUNCTION IF EXISTS public.set_updated_at();
DROP FUNCTION IF EXISTS public.set_onboarding_role(requested_role public.user_role);
DROP FUNCTION IF EXISTS public.set_creator_approval(p_profile_id uuid, p_approved boolean);
DROP FUNCTION IF EXISTS public.review_course(p_course_id uuid, p_approved boolean, p_note text);
DROP FUNCTION IF EXISTS public.prevent_role_self_change();
DROP FUNCTION IF EXISTS public.mark_profile_onboarded();
DROP FUNCTION IF EXISTS public.is_admin();
DROP FUNCTION IF EXISTS public.handle_new_user();
DROP FUNCTION IF EXISTS public.get_course_lesson_count(p_course_id uuid);
DROP FUNCTION IF EXISTS public.generate_public_code(prefix text, target_table regclass, target_column text);
DROP FUNCTION IF EXISTS public.current_role_matches(expected public.user_role);
DROP TYPE IF EXISTS public.user_role;
DROP TYPE IF EXISTS public.institution_type;
DROP TYPE IF EXISTS public.course_status;
DROP TYPE IF EXISTS public.academic_degree;
DROP SCHEMA IF EXISTS public;
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: academic_degree; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.academic_degree AS ENUM (
    'MTRO',
    'DR',
    'ING',
    'LIC',
    'OTRO'
);


--
-- Name: course_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.course_status AS ENUM (
    'draft',
    'pending_review',
    'published',
    'rejected',
    'archived'
);


--
-- Name: institution_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.institution_type AS ENUM (
    'UT',
    'UNICARIBE',
    'POLITECNICO',
    'OTRA',
    'SIN_INSTITUCION',
    'ITC'
);


--
-- Name: user_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.user_role AS ENUM (
    'alumno',
    'instructor',
    'externo',
    'expositor',
    'admin'
);


--
-- Name: current_role_matches(public.user_role); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.current_role_matches(expected public.user_role) RETURNS boolean
    LANGUAGE sql STABLE SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
  select exists (
    select 1 from public.profiles p
    where p.id = auth.uid() and p.role = expected
  );
$$;


--
-- Name: generate_public_code(text, regclass, text); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.generate_public_code(prefix text, target_table regclass, target_column text) RETURNS text
    LANGUAGE plpgsql
    AS $_$
declare
  alphabet text := '23456789ABCDEFGHJKLMNPQRSTUVWXYZ';
  candidate text;
  exists_already boolean;
  attempt int := 0;
begin
  loop
    candidate := prefix || '-';
    for i in 1..6 loop
      candidate := candidate || substr(alphabet, (floor(random() * length(alphabet)) + 1)::int, 1);
    end loop;

    execute format('select exists(select 1 from %s where %I = $1)', target_table, target_column)
      into exists_already
      using candidate;

    exit when not exists_already;

    attempt := attempt + 1;
    if attempt > 20 then
      raise exception 'No fue posible generar un c├│digo ├║nico tras % intentos', attempt;
    end if;
  end loop;

  return candidate;
end;
$_$;


--
-- Name: get_course_lesson_count(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_course_lesson_count(p_course_id uuid) RETURNS integer
    LANGUAGE sql STABLE SECURITY DEFINER
    SET search_path TO ''
    AS $$
  select count(*)::integer
  from public.course_lessons l
  join public.course_modules m
    on m.id = l.module_id
  join public.courses c
    on c.id = m.course_id
  where c.id = p_course_id
    and c.status = 'published'::public.course_status;
$$;


--
-- Name: handle_new_user(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.handle_new_user() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
declare
  requested_role_text text;
  requested_role public.user_role;
  safe_full_name text;
begin
  -- IMPORTANTE: raw_user_meta_data es controlado por quien llama a signUp().
  -- Nunca se acepta `admin` desde el registro p├║blico. Solo los cuatro
  -- roles de autoservicio pueden crearse mediante Auth.
  requested_role_text := lower(coalesce(new.raw_user_meta_data ->> 'role', ''));

  if requested_role_text in ('alumno', 'instructor', 'externo', 'expositor') then
    requested_role := requested_role_text::public.user_role;
  else
    requested_role := 'alumno';
  end if;

  -- Normaliza el nombre para que una llamada directa a Auth con metadata
  -- vac├¡a o malformada no haga fallar el trigger ni el alta de la cuenta.
  safe_full_name := btrim(coalesce(new.raw_user_meta_data ->> 'full_name', ''));
  if char_length(safe_full_name) < 2 then
    safe_full_name := 'Usuario';
  else
    safe_full_name := left(safe_full_name, 150);
  end if;

  insert into public.profiles (id, role, full_name)
  values (new.id, requested_role, safe_full_name)
  on conflict (id) do nothing;

  return new;
end;
$$;


--
-- Name: is_admin(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.is_admin() RETURNS boolean
    LANGUAGE sql STABLE SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
  select exists (
    select 1 from public.profiles p
    where p.id = auth.uid() and p.role = 'admin'
  );
$$;


--
-- Name: mark_profile_onboarded(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.mark_profile_onboarded() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
begin
  update public.profiles
  set onboarding_completed = true
  where id = new.profile_id;

  if not found then
    raise exception 'No existe el perfil base asociado al usuario';
  end if;

  return new;
end;
$$;


--
-- Name: prevent_role_self_change(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.prevent_role_self_change() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$
begin
  if new.role <> old.role
     and auth.uid() = old.id
     and not public.is_admin() then

    -- Durante el onboarding inicial s├¡ puede cambiar entre roles p├║blicos.
    if old.onboarding_completed = false
       and new.onboarding_completed = false
       and new.role in (
         'alumno'::public.user_role,
         'instructor'::public.user_role,
         'externo'::public.user_role,
         'expositor'::public.user_role
       ) then
      -- Cambio permitido.
      null;
    else
      raise exception 'No tienes permiso para cambiar tu propio rol';
    end if;
  end if;

  -- onboarding_completed solo puede activarlo el trigger interno
  -- despu├®s de crear correctamente el perfil espec├¡fico del rol.
  if new.onboarding_completed <> old.onboarding_completed
     and auth.uid() = old.id
     and not public.is_admin()
     and pg_trigger_depth() <= 1 then
    raise exception 'El estado de onboarding no puede modificarse directamente';
  end if;

  new.created_at := old.created_at;

  return new;
end;
$$;


--
-- Name: review_course(uuid, boolean, text); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.review_course(p_course_id uuid, p_approved boolean, p_note text DEFAULT NULL::text) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO ''
    AS $$
begin
  if not public.is_admin() then
    raise exception 'Solo un administrador puede revisar cursos';
  end if;
  if p_approved is null then raise exception 'Decision obligatoria'; end if;
  update public.courses
  set status = case when p_approved then 'published'::public.course_status
                    else 'rejected'::public.course_status end,
      review_note = nullif(btrim(p_note), ''),
      reviewed_by = auth.uid(), reviewed_at = now(),
      published_at = case when p_approved then now() else null end
  where id = p_course_id and status = 'pending_review';
  if not found then
    raise exception 'El curso no existe o no esta pendiente de revision';
  end if;
end;
$$;


--
-- Name: set_creator_approval(uuid, boolean); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.set_creator_approval(p_profile_id uuid, p_approved boolean) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO ''
    AS $$
begin
  if not public.is_admin() then
    raise exception 'Solo un administrador puede aprobar creadores';
  end if;
  if p_approved is null then raise exception 'Decision obligatoria'; end if;
  if not exists (
    select 1 from public.profiles
    where id = p_profile_id and role in ('instructor','expositor')
      and onboarding_completed
  ) then
    raise exception 'El usuario no tiene un perfil de creador valido';
  end if;
  insert into public.creator_approvals(profile_id, approved, approved_by, approved_at)
  values (p_profile_id, p_approved,
    case when p_approved then auth.uid() else null end,
    case when p_approved then now() else null end)
  on conflict (profile_id) do update
  set approved = excluded.approved, approved_by = excluded.approved_by,
      approved_at = excluded.approved_at, updated_at = now();
end;
$$;


--
-- Name: set_onboarding_role(public.user_role); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.set_onboarding_role(requested_role public.user_role) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO ''
    AS $$
declare
  current_user_id uuid := auth.uid();
  current_onboarding_completed boolean;
begin
  if current_user_id is null then
    raise exception 'Debes iniciar sesi├│n';
  end if;

  if requested_role not in (
    'alumno'::public.user_role,
    'instructor'::public.user_role,
    'externo'::public.user_role,
    'expositor'::public.user_role
  ) then
    raise exception 'Rol no permitido';
  end if;

  select p.onboarding_completed
    into current_onboarding_completed
  from public.profiles p
  where p.id = current_user_id;

  if not found then
    raise exception 'Perfil no encontrado';
  end if;

  if current_onboarding_completed then
    raise exception 'El registro ya fue completado';
  end if;

  update public.profiles
  set role = requested_role
  where id = current_user_id;
end;
$$;


--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
begin
  new.updated_at = now();
  return new;
end;
$$;


--
-- Name: submit_course_review(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.submit_course_review(p_course_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO ''
    AS $$
begin
  if not app_private.can_edit_course(p_course_id) then
    raise exception 'No puedes enviar este curso a revision';
  end if;
  if not exists (
    select 1 from public.course_modules m
    join public.course_lessons l on l.module_id = m.id
    where m.course_id = p_course_id and char_length(btrim(l.content)) > 0
  ) then
    raise exception 'El curso necesita al menos una leccion con contenido';
  end if;
  update public.courses
  set status = 'pending_review', review_note = null,
      reviewed_by = null, reviewed_at = null, published_at = null
  where id = p_course_id and status in ('draft','rejected');
  if not found then raise exception 'No se pudo enviar el curso'; end if;
end;
$$;


--
-- Name: trg_set_expositor_public_code(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.trg_set_expositor_public_code() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
begin
  if new.public_code is null or char_length(trim(new.public_code)) = 0 then
    new.public_code := public.generate_public_code('XP', 'public.expositor_profiles', 'public_code');
  end if;
  return new;
end;
$$;


--
-- Name: trg_set_externo_public_code(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.trg_set_externo_public_code() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
begin
  if new.public_code is null or char_length(trim(new.public_code)) = 0 then
    new.public_code := public.generate_public_code('EX', 'public.externo_profiles', 'public_code');
  end if;
  return new;
end;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alumno_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alumno_profiles (
    profile_id uuid NOT NULL,
    control_number text NOT NULL,
    institution_type public.institution_type DEFAULT 'ITC'::public.institution_type NOT NULL,
    institution_other_name text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_alumno_control_number_format CHECK (((char_length(TRIM(BOTH FROM control_number)) >= 3) AND (char_length(TRIM(BOTH FROM control_number)) <= 30))),
    CONSTRAINT chk_alumno_other_institution_requires_name CHECK ((((institution_type = 'OTRA'::public.institution_type) AND (institution_other_name IS NOT NULL) AND (char_length(TRIM(BOTH FROM institution_other_name)) >= 2)) OR ((institution_type <> 'OTRA'::public.institution_type) AND (institution_other_name IS NULL))))
);


--
-- Name: TABLE alumno_profiles; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.alumno_profiles IS 'Datos espec├¡ficos de usuarios con rol Alumno del instituto.';


--
-- Name: course_enrollments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_enrollments (
    course_id uuid NOT NULL,
    student_id uuid NOT NULL,
    enrolled_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: course_lessons; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_lessons (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    module_id uuid NOT NULL,
    title text NOT NULL,
    content text DEFAULT ''::text NOT NULL,
    "position" integer NOT NULL,
    estimated_minutes integer,
    is_preview boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT course_lessons_estimated_minutes_check CHECK (((estimated_minutes >= 1) AND (estimated_minutes <= 10000))),
    CONSTRAINT course_lessons_position_check CHECK (("position" >= 0)),
    CONSTRAINT course_lessons_title_check CHECK (((char_length(btrim(title)) >= 2) AND (char_length(btrim(title)) <= 180)))
);


--
-- Name: course_modules; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.course_modules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid NOT NULL,
    title text NOT NULL,
    description text,
    "position" integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT course_modules_position_check CHECK (("position" >= 0)),
    CONSTRAINT course_modules_title_check CHECK (((char_length(btrim(title)) >= 2) AND (char_length(btrim(title)) <= 180)))
);


--
-- Name: courses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.courses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    creator_id uuid NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    description text NOT NULL,
    category text NOT NULL,
    level text NOT NULL,
    estimated_minutes integer,
    status public.course_status DEFAULT 'draft'::public.course_status NOT NULL,
    review_note text,
    reviewed_by uuid,
    reviewed_at timestamp with time zone,
    published_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT courses_category_check CHECK (((char_length(btrim(category)) >= 2) AND (char_length(btrim(category)) <= 80))),
    CONSTRAINT courses_description_check CHECK (((char_length(btrim(description)) >= 20) AND (char_length(btrim(description)) <= 5000))),
    CONSTRAINT courses_estimated_minutes_check CHECK (((estimated_minutes >= 1) AND (estimated_minutes <= 100000))),
    CONSTRAINT courses_level_check CHECK ((level = ANY (ARRAY['principiante'::text, 'intermedio'::text, 'avanzado'::text]))),
    CONSTRAINT courses_slug_check CHECK ((slug ~ '^[a-z0-9]+(-[a-z0-9]+)*$'::text)),
    CONSTRAINT courses_title_check CHECK (((char_length(btrim(title)) >= 5) AND (char_length(btrim(title)) <= 180)))
);


--
-- Name: creator_approvals; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.creator_approvals (
    profile_id uuid NOT NULL,
    approved boolean DEFAULT false NOT NULL,
    approved_by uuid,
    approved_at timestamp with time zone,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT creator_approval_consistency CHECK ((((NOT approved) AND (approved_by IS NULL) AND (approved_at IS NULL)) OR (approved AND (approved_by IS NOT NULL) AND (approved_at IS NOT NULL))))
);


--
-- Name: expositor_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.expositor_profiles (
    profile_id uuid NOT NULL,
    public_code text NOT NULL,
    bio text NOT NULL,
    institution_type public.institution_type NOT NULL,
    institution_other_name text,
    organization text,
    profile_link text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_expositor_other_institution_requires_name CHECK ((((institution_type = 'OTRA'::public.institution_type) AND (institution_other_name IS NOT NULL) AND (char_length(TRIM(BOTH FROM institution_other_name)) >= 2)) OR ((institution_type <> 'OTRA'::public.institution_type) AND (institution_other_name IS NULL)))),
    CONSTRAINT expositor_profiles_bio_check CHECK (((char_length(TRIM(BOTH FROM bio)) >= 10) AND (char_length(TRIM(BOTH FROM bio)) <= 2000))),
    CONSTRAINT expositor_profiles_organization_check CHECK (((organization IS NULL) OR ((char_length(TRIM(BOTH FROM organization)) >= 2) AND (char_length(TRIM(BOTH FROM organization)) <= 150)))),
    CONSTRAINT expositor_profiles_profile_link_check CHECK (((profile_link IS NULL) OR (profile_link ~* '^https?://'::text)))
);


--
-- Name: TABLE expositor_profiles; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.expositor_profiles IS 'Datos espec├¡ficos de usuarios Expositores (ponentes invitados).';


--
-- Name: externo_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.externo_profiles (
    profile_id uuid NOT NULL,
    public_code text NOT NULL,
    institution_type public.institution_type NOT NULL,
    institution_other_name text,
    organization text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    works_in_sector boolean DEFAULT false NOT NULL,
    CONSTRAINT chk_externo_other_institution_requires_name CHECK ((((institution_type = 'OTRA'::public.institution_type) AND (institution_other_name IS NOT NULL) AND (char_length(TRIM(BOTH FROM institution_other_name)) >= 2)) OR ((institution_type <> 'OTRA'::public.institution_type) AND (institution_other_name IS NULL)))),
    CONSTRAINT chk_externo_work_organization CHECK ((((works_in_sector = true) AND (organization IS NOT NULL) AND (char_length(TRIM(BOTH FROM organization)) >= 2) AND (char_length(TRIM(BOTH FROM organization)) <= 150)) OR ((works_in_sector = false) AND (organization IS NULL))))
);


--
-- Name: TABLE externo_profiles; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.externo_profiles IS 'Datos espec├¡ficos de usuarios Externos. C├│digo p├║blico autogenerado (no editable por el cliente).';


--
-- Name: instructor_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.instructor_profiles (
    profile_id uuid NOT NULL,
    control_number text NOT NULL,
    department text NOT NULL,
    specialty text NOT NULL,
    academic_degree public.academic_degree NOT NULL,
    academic_degree_other text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_instructor_control_number_format CHECK (((char_length(TRIM(BOTH FROM control_number)) >= 3) AND (char_length(TRIM(BOTH FROM control_number)) <= 30))),
    CONSTRAINT chk_instructor_other_degree_requires_name CHECK ((((academic_degree = 'OTRO'::public.academic_degree) AND (academic_degree_other IS NOT NULL) AND (char_length(TRIM(BOTH FROM academic_degree_other)) >= 2)) OR ((academic_degree <> 'OTRO'::public.academic_degree) AND (academic_degree_other IS NULL)))),
    CONSTRAINT instructor_profiles_department_check CHECK (((char_length(TRIM(BOTH FROM department)) >= 2) AND (char_length(TRIM(BOTH FROM department)) <= 150))),
    CONSTRAINT instructor_profiles_specialty_check CHECK (((char_length(TRIM(BOTH FROM specialty)) >= 2) AND (char_length(TRIM(BOTH FROM specialty)) <= 150)))
);


--
-- Name: TABLE instructor_profiles; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.instructor_profiles IS 'Datos espec├¡ficos de usuarios con rol Instructor/Maestro.';


--
-- Name: profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profiles (
    id uuid NOT NULL,
    role public.user_role NOT NULL,
    full_name text NOT NULL,
    phone text,
    onboarding_completed boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT profiles_full_name_check CHECK (((char_length(TRIM(BOTH FROM full_name)) >= 2) AND (char_length(TRIM(BOTH FROM full_name)) <= 150))),
    CONSTRAINT profiles_phone_check CHECK (((phone IS NULL) OR ((char_length(phone) >= 7) AND (char_length(phone) <= 20))))
);


--
-- Name: TABLE profiles; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.profiles IS 'Datos comunes a todo usuario autenticado. 1:1 con auth.users.';


--
-- Name: people_directory; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.people_directory WITH (security_invoker='on') AS
 SELECT p.id AS profile_id,
    p.role,
    p.full_name,
    p.phone,
    p.created_at,
        CASE p.role
            WHEN 'alumno'::public.user_role THEN a.control_number
            WHEN 'instructor'::public.user_role THEN i.control_number
            ELSE NULL::text
        END AS control_number,
        CASE p.role
            WHEN 'externo'::public.user_role THEN e.public_code
            WHEN 'expositor'::public.user_role THEN x.public_code
            ELSE NULL::text
        END AS public_code,
        CASE p.role
            WHEN 'alumno'::public.user_role THEN a.institution_type
            WHEN 'externo'::public.user_role THEN e.institution_type
            WHEN 'expositor'::public.user_role THEN x.institution_type
            ELSE NULL::public.institution_type
        END AS institution_type,
        CASE p.role
            WHEN 'alumno'::public.user_role THEN COALESCE(a.institution_other_name, (a.institution_type)::text)
            WHEN 'externo'::public.user_role THEN COALESCE(e.institution_other_name, (e.institution_type)::text)
            WHEN 'expositor'::public.user_role THEN COALESCE(x.institution_other_name, (x.institution_type)::text)
            ELSE NULL::text
        END AS institution_label
   FROM ((((public.profiles p
     LEFT JOIN public.alumno_profiles a ON (((a.profile_id = p.id) AND (p.role = 'alumno'::public.user_role))))
     LEFT JOIN public.instructor_profiles i ON (((i.profile_id = p.id) AND (p.role = 'instructor'::public.user_role))))
     LEFT JOIN public.externo_profiles e ON (((e.profile_id = p.id) AND (p.role = 'externo'::public.user_role))))
     LEFT JOIN public.expositor_profiles x ON (((x.profile_id = p.id) AND (p.role = 'expositor'::public.user_role))));


--
-- Name: VIEW people_directory; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON VIEW public.people_directory IS 'Vista unificada de personas registradas (todas las tablas de rol). Respeta RLS del usuario (security_invoker).';


--
-- Data for Name: alumno_profiles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.alumno_profiles (profile_id, control_number, institution_type, institution_other_name, created_at, updated_at) FROM stdin;
90fdcf42-1534-4da3-bd9d-0a95aef40eaa	21530295	UT	\N	2026-09-08 02:03:40.412557+00	2026-09-08 02:03:40.412557+00
3ce26053-c9f7-436d-b2e5-32560d637cdf	21530296	POLITECNICO	\N	2026-09-08 02:38:43.035471+00	2026-09-08 02:38:43.035471+00
aaa5b960-77f5-45e3-b022-954227c06535	21530294	ITC	\N	2026-09-09 22:08:42.381752+00	2026-09-09 22:08:42.381752+00
4963b224-2101-4f33-8b36-523c4112aafe	2542354	ITC	\N	2026-09-17 22:32:17.431585+00	2026-09-17 22:32:17.431585+00
\.


--
-- Data for Name: course_enrollments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.course_enrollments (course_id, student_id, enrolled_at) FROM stdin;
6388f791-5677-4b66-8b3c-75882399707b	3ce26053-c9f7-436d-b2e5-32560d637cdf	2026-09-08 02:40:40.047281+00
6388f791-5677-4b66-8b3c-75882399707b	aaa5b960-77f5-45e3-b022-954227c06535	2026-09-17 01:02:26.45188+00
\.


--
-- Data for Name: course_lessons; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: course_modules; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: creator_approvals; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.creator_approvals (profile_id, approved, approved_by, approved_at, updated_at) FROM stdin;
91c95429-1d5d-4b9f-a4fc-f11359d27207	t	1590709c-e916-4a5b-ac53-198e5fc2b2be	2026-09-08 02:19:10.150172+00	2026-09-08 02:19:10.150172+00
\.


--
-- Data for Name: expositor_profiles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.expositor_profiles (profile_id, public_code, bio, institution_type, institution_other_name, organization, profile_link, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: externo_profiles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.externo_profiles (profile_id, public_code, institution_type, institution_other_name, organization, created_at, updated_at, works_in_sector) FROM stdin;
129db8a5-7bbb-475b-ab03-341adc1bb608	EX-QKQ5RN	ITC	\N	\N	2026-09-17 22:23:41.771892+00	2026-09-17 22:23:41.771892+00	f
\.


--
-- Data for Name: instructor_profiles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.instructor_profiles (profile_id, control_number, department, specialty, academic_degree, academic_degree_other, created_at, updated_at) FROM stdin;
91c95429-1d5d-4b9f-a4fc-f11359d27207	21530294	huawei	developer	ING	\N	2026-09-08 02:12:45.017867+00	2026-09-08 02:12:45.017867+00
1d5ea05b-b492-4519-80bd-1668333ca9c4	21530296	huawei	developer	MTRO	\N	2026-09-17 22:28:34.126169+00	2026-09-17 22:28:34.126169+00
\.


--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: alumno_profiles alumno_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alumno_profiles
    ADD CONSTRAINT alumno_profiles_pkey PRIMARY KEY (profile_id);


--
-- Name: course_enrollments course_enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT course_enrollments_pkey PRIMARY KEY (course_id, student_id);


--
-- Name: course_lessons course_lessons_module_id_position_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_lessons
    ADD CONSTRAINT course_lessons_module_id_position_key UNIQUE (module_id, "position");


--
-- Name: course_lessons course_lessons_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_lessons
    ADD CONSTRAINT course_lessons_pkey PRIMARY KEY (id);


--
-- Name: course_modules course_modules_course_id_position_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_modules
    ADD CONSTRAINT course_modules_course_id_position_key UNIQUE (course_id, "position");


--
-- Name: course_modules course_modules_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_modules
    ADD CONSTRAINT course_modules_pkey PRIMARY KEY (id);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: courses courses_slug_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_slug_key UNIQUE (slug);


--
-- Name: creator_approvals creator_approvals_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.creator_approvals
    ADD CONSTRAINT creator_approvals_pkey PRIMARY KEY (profile_id);


--
-- Name: expositor_profiles expositor_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.expositor_profiles
    ADD CONSTRAINT expositor_profiles_pkey PRIMARY KEY (profile_id);


--
-- Name: expositor_profiles expositor_profiles_public_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.expositor_profiles
    ADD CONSTRAINT expositor_profiles_public_code_key UNIQUE (public_code);


--
-- Name: externo_profiles externo_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.externo_profiles
    ADD CONSTRAINT externo_profiles_pkey PRIMARY KEY (profile_id);


--
-- Name: externo_profiles externo_profiles_public_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.externo_profiles
    ADD CONSTRAINT externo_profiles_public_code_key UNIQUE (public_code);


--
-- Name: instructor_profiles instructor_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.instructor_profiles
    ADD CONSTRAINT instructor_profiles_pkey PRIMARY KEY (profile_id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: idx_courses_creator; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_courses_creator ON public.courses USING btree (creator_id);


--
-- Name: idx_courses_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_courses_status ON public.courses USING btree (status, published_at DESC);


--
-- Name: idx_enrollments_student; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_enrollments_student ON public.course_enrollments USING btree (student_id);


--
-- Name: idx_lessons_module; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_lessons_module ON public.course_lessons USING btree (module_id, "position");


--
-- Name: idx_modules_course; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_modules_course ON public.course_modules USING btree (course_id, "position");


--
-- Name: idx_profiles_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_profiles_role ON public.profiles USING btree (role);


--
-- Name: uq_alumno_control_number; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_alumno_control_number ON public.alumno_profiles USING btree (lower(control_number));


--
-- Name: uq_instructor_control_number; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_instructor_control_number ON public.instructor_profiles USING btree (lower(control_number));


--
-- Name: alumno_profiles trg_alumno_mark_onboarded; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_alumno_mark_onboarded AFTER INSERT ON public.alumno_profiles FOR EACH ROW EXECUTE FUNCTION public.mark_profile_onboarded();


--
-- Name: alumno_profiles trg_alumno_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_alumno_updated_at BEFORE UPDATE ON public.alumno_profiles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: courses trg_courses_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_courses_updated_at BEFORE UPDATE ON public.courses FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: expositor_profiles trg_expositor_mark_onboarded; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_expositor_mark_onboarded AFTER INSERT ON public.expositor_profiles FOR EACH ROW EXECUTE FUNCTION public.mark_profile_onboarded();


--
-- Name: expositor_profiles trg_expositor_public_code; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_expositor_public_code BEFORE INSERT ON public.expositor_profiles FOR EACH ROW EXECUTE FUNCTION public.trg_set_expositor_public_code();


--
-- Name: expositor_profiles trg_expositor_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_expositor_updated_at BEFORE UPDATE ON public.expositor_profiles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: externo_profiles trg_externo_mark_onboarded; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_externo_mark_onboarded AFTER INSERT ON public.externo_profiles FOR EACH ROW EXECUTE FUNCTION public.mark_profile_onboarded();


--
-- Name: externo_profiles trg_externo_public_code; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_externo_public_code BEFORE INSERT ON public.externo_profiles FOR EACH ROW EXECUTE FUNCTION public.trg_set_externo_public_code();


--
-- Name: externo_profiles trg_externo_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_externo_updated_at BEFORE UPDATE ON public.externo_profiles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: courses trg_guard_course; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_guard_course BEFORE INSERT OR UPDATE ON public.courses FOR EACH ROW EXECUTE FUNCTION app_private.guard_course();


--
-- Name: course_enrollments trg_guard_enrollment; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_guard_enrollment BEFORE INSERT OR DELETE OR UPDATE ON public.course_enrollments FOR EACH ROW EXECUTE FUNCTION app_private.guard_enrollment();


--
-- Name: course_lessons trg_guard_lessons; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_guard_lessons BEFORE INSERT OR DELETE OR UPDATE ON public.course_lessons FOR EACH ROW EXECUTE FUNCTION app_private.guard_course_child();


--
-- Name: course_modules trg_guard_modules; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_guard_modules BEFORE INSERT OR DELETE OR UPDATE ON public.course_modules FOR EACH ROW EXECUTE FUNCTION app_private.guard_course_child();


--
-- Name: instructor_profiles trg_instructor_mark_onboarded; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_instructor_mark_onboarded AFTER INSERT ON public.instructor_profiles FOR EACH ROW EXECUTE FUNCTION public.mark_profile_onboarded();


--
-- Name: instructor_profiles trg_instructor_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_instructor_updated_at BEFORE UPDATE ON public.instructor_profiles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: course_lessons trg_lessons_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_lessons_updated_at BEFORE UPDATE ON public.course_lessons FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: course_modules trg_modules_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_modules_updated_at BEFORE UPDATE ON public.course_modules FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: profiles trg_prevent_role_self_change; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_prevent_role_self_change BEFORE UPDATE ON public.profiles FOR EACH ROW EXECUTE FUNCTION public.prevent_role_self_change();


--
-- Name: profiles trg_profiles_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_profiles_updated_at BEFORE UPDATE ON public.profiles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: alumno_profiles alumno_profiles_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alumno_profiles
    ADD CONSTRAINT alumno_profiles_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: course_enrollments course_enrollments_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT course_enrollments_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: course_enrollments course_enrollments_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT course_enrollments_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: course_lessons course_lessons_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_lessons
    ADD CONSTRAINT course_lessons_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.course_modules(id) ON DELETE CASCADE;


--
-- Name: course_modules course_modules_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.course_modules
    ADD CONSTRAINT course_modules_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: courses courses_creator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_creator_id_fkey FOREIGN KEY (creator_id) REFERENCES public.profiles(id) ON DELETE RESTRICT;


--
-- Name: courses courses_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.profiles(id) ON DELETE SET NULL;


--
-- Name: creator_approvals creator_approvals_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.creator_approvals
    ADD CONSTRAINT creator_approvals_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.profiles(id) ON DELETE SET NULL;


--
-- Name: creator_approvals creator_approvals_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.creator_approvals
    ADD CONSTRAINT creator_approvals_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: expositor_profiles expositor_profiles_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.expositor_profiles
    ADD CONSTRAINT expositor_profiles_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: externo_profiles externo_profiles_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.externo_profiles
    ADD CONSTRAINT externo_profiles_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: instructor_profiles instructor_profiles_profile_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.instructor_profiles
    ADD CONSTRAINT instructor_profiles_profile_id_fkey FOREIGN KEY (profile_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: profiles profiles_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_id_fkey FOREIGN KEY (id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: alumno_profiles alumno_insert_own; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY alumno_insert_own ON public.alumno_profiles FOR INSERT WITH CHECK (((profile_id = auth.uid()) AND public.current_role_matches('alumno'::public.user_role)));


--
-- Name: alumno_profiles; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.alumno_profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: alumno_profiles alumno_select_own_or_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY alumno_select_own_or_admin ON public.alumno_profiles FOR SELECT USING (((profile_id = auth.uid()) OR public.is_admin()));


--
-- Name: alumno_profiles alumno_update_own_or_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY alumno_update_own_or_admin ON public.alumno_profiles FOR UPDATE USING (((profile_id = auth.uid()) OR public.is_admin())) WITH CHECK (((profile_id = auth.uid()) OR public.is_admin()));


--
-- Name: creator_approvals approvals_read; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY approvals_read ON public.creator_approvals FOR SELECT TO authenticated USING (((profile_id = ( SELECT auth.uid() AS uid)) OR public.is_admin()));


--
-- Name: course_enrollments; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.course_enrollments ENABLE ROW LEVEL SECURITY;

--
-- Name: course_lessons; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.course_lessons ENABLE ROW LEVEL SECURITY;

--
-- Name: course_modules; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.course_modules ENABLE ROW LEVEL SECURITY;

--
-- Name: courses; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.courses ENABLE ROW LEVEL SECURITY;

--
-- Name: courses courses_insert; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY courses_insert ON public.courses FOR INSERT TO authenticated WITH CHECK (((creator_id = ( SELECT auth.uid() AS uid)) AND app_private.can_create_courses() AND (status = 'draft'::public.course_status)));


--
-- Name: courses courses_read; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY courses_read ON public.courses FOR SELECT TO authenticated USING (app_private.can_read_course(id));


--
-- Name: courses courses_update; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY courses_update ON public.courses FOR UPDATE TO authenticated USING (app_private.can_edit_course(id)) WITH CHECK (app_private.can_edit_course(id));


--
-- Name: creator_approvals; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.creator_approvals ENABLE ROW LEVEL SECURITY;

--
-- Name: course_enrollments enrollments_delete; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY enrollments_delete ON public.course_enrollments FOR DELETE TO authenticated USING ((student_id = ( SELECT auth.uid() AS uid)));


--
-- Name: course_enrollments enrollments_insert; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY enrollments_insert ON public.course_enrollments FOR INSERT TO authenticated WITH CHECK (((student_id = ( SELECT auth.uid() AS uid)) AND (EXISTS ( SELECT 1
   FROM public.profiles p
  WHERE ((p.id = ( SELECT auth.uid() AS uid)) AND (p.role = ANY (ARRAY['alumno'::public.user_role, 'externo'::public.user_role])) AND p.onboarding_completed))) AND (EXISTS ( SELECT 1
   FROM public.courses c
  WHERE ((c.id = course_enrollments.course_id) AND (c.status = 'published'::public.course_status))))));


--
-- Name: course_enrollments enrollments_read; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY enrollments_read ON public.course_enrollments FOR SELECT TO authenticated USING (((student_id = ( SELECT auth.uid() AS uid)) OR public.is_admin() OR (EXISTS ( SELECT 1
   FROM public.courses c
  WHERE ((c.id = course_enrollments.course_id) AND (c.creator_id = ( SELECT auth.uid() AS uid)) AND app_private.can_create_courses())))));


--
-- Name: expositor_profiles expositor_insert_own; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY expositor_insert_own ON public.expositor_profiles FOR INSERT WITH CHECK (((profile_id = auth.uid()) AND public.current_role_matches('expositor'::public.user_role)));


--
-- Name: expositor_profiles; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.expositor_profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: expositor_profiles expositor_select_own_or_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY expositor_select_own_or_admin ON public.expositor_profiles FOR SELECT USING (((profile_id = auth.uid()) OR public.is_admin()));


--
-- Name: expositor_profiles expositor_update_own_or_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY expositor_update_own_or_admin ON public.expositor_profiles FOR UPDATE USING (((profile_id = auth.uid()) OR public.is_admin())) WITH CHECK (((profile_id = auth.uid()) OR public.is_admin()));


--
-- Name: externo_profiles externo_insert_own; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY externo_insert_own ON public.externo_profiles FOR INSERT WITH CHECK (((profile_id = auth.uid()) AND public.current_role_matches('externo'::public.user_role)));


--
-- Name: externo_profiles; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.externo_profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: externo_profiles externo_select_own_or_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY externo_select_own_or_admin ON public.externo_profiles FOR SELECT USING (((profile_id = auth.uid()) OR public.is_admin()));


--
-- Name: externo_profiles externo_update_own_or_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY externo_update_own_or_admin ON public.externo_profiles FOR UPDATE USING (((profile_id = auth.uid()) OR public.is_admin())) WITH CHECK (((profile_id = auth.uid()) OR public.is_admin()));


--
-- Name: instructor_profiles instructor_insert_own; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY instructor_insert_own ON public.instructor_profiles FOR INSERT WITH CHECK (((profile_id = auth.uid()) AND public.current_role_matches('instructor'::public.user_role)));


--
-- Name: instructor_profiles; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.instructor_profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: instructor_profiles instructor_select_own_or_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY instructor_select_own_or_admin ON public.instructor_profiles FOR SELECT USING (((profile_id = auth.uid()) OR public.is_admin()));


--
-- Name: instructor_profiles instructor_update_own_or_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY instructor_update_own_or_admin ON public.instructor_profiles FOR UPDATE USING (((profile_id = auth.uid()) OR public.is_admin())) WITH CHECK (((profile_id = auth.uid()) OR public.is_admin()));


--
-- Name: course_lessons lessons_delete; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY lessons_delete ON public.course_lessons FOR DELETE TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.course_modules m
  WHERE ((m.id = course_lessons.module_id) AND app_private.can_edit_course(m.course_id)))));


--
-- Name: course_lessons lessons_insert; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY lessons_insert ON public.course_lessons FOR INSERT TO authenticated WITH CHECK ((EXISTS ( SELECT 1
   FROM public.course_modules m
  WHERE ((m.id = course_lessons.module_id) AND app_private.can_edit_course(m.course_id)))));


--
-- Name: course_lessons lessons_read; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY lessons_read ON public.course_lessons FOR SELECT TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.course_modules m
  WHERE ((m.id = course_lessons.module_id) AND (app_private.can_read_content(m.course_id) OR (course_lessons.is_preview AND app_private.can_read_course(m.course_id)))))));


--
-- Name: course_lessons lessons_update; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY lessons_update ON public.course_lessons FOR UPDATE TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.course_modules m
  WHERE ((m.id = course_lessons.module_id) AND app_private.can_edit_course(m.course_id))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM public.course_modules m
  WHERE ((m.id = course_lessons.module_id) AND app_private.can_edit_course(m.course_id)))));


--
-- Name: course_modules modules_delete; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY modules_delete ON public.course_modules FOR DELETE TO authenticated USING (app_private.can_edit_course(course_id));


--
-- Name: course_modules modules_insert; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY modules_insert ON public.course_modules FOR INSERT TO authenticated WITH CHECK (app_private.can_edit_course(course_id));


--
-- Name: course_modules modules_read; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY modules_read ON public.course_modules FOR SELECT TO authenticated USING (app_private.can_read_course(course_id));


--
-- Name: course_modules modules_update; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY modules_update ON public.course_modules FOR UPDATE TO authenticated USING (app_private.can_edit_course(course_id)) WITH CHECK (app_private.can_edit_course(course_id));


--
-- Name: profiles; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: profiles profiles_select_own_or_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY profiles_select_own_or_admin ON public.profiles FOR SELECT USING (((id = auth.uid()) OR public.is_admin()));


--
-- Name: profiles profiles_update_own_or_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY profiles_update_own_or_admin ON public.profiles FOR UPDATE USING (((id = auth.uid()) OR public.is_admin())) WITH CHECK (((id = auth.uid()) OR public.is_admin()));


--
-- PostgreSQL database dump complete
--

\unrestrict NUPKK6oCTnnjdBh7A3SZ0wjTeRKn2f6an3rKU3eO2lVKFRUhhbbYaSEbyk7Kqwa

